<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                    Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        <% if(cartProds.items.length>0) { %>
            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    <% for(let p of cartProds.items) { %>
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%=p._id %>" name="cartItemId">
                                    <input type="hidden" value="<%=p.productId._id%>" name="productId">
                                    <button class="how-itemcart1">
                                    <img src="<%=p.productId.imageUrl.detail_1%>" alt="IMG">
                                </button>
                                </form>
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="/products/<%=p.productId._id%>" class="header-cart-item-name m-b-10 hov-cl1 trans-04">
                                    <%=p.productId.name%>
                                </a>
                                <span class="header-cart-item-info m-b-5">
                                <%=p.quantity%> x $ <%=p.productId.price%>
                        </span>
                                <span class="header-cart-item-info">
                            Size: <%=p.size%> | Color: <%=p.color%>
                    </span>
                            </div>
                        </li>
                        <% } %>

                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: $
                        <%=cartProds.totalPrice  %>
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a href="/cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                        <a href="/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                    </div>
                </div>
            </div>
            <% } else { %>
                <h3>Empty Shopping Cart</h3>
                <% } %>
    </div>
</div>