<section class="pagination" style="justify-content: center;">
    <% if(currentPage !== 1 && prevPage !== 1) { %> 
        <a href="?page=1">1</a> 
    <% } %>

    <% if(hasPrevPage) { %>
        <a style="border: none;" href="?page=<%=prevPage%>"><i class="fa fa-arrow-left"></i></a>
        <a href="?page=<%=prevPage%>"><%=prevPage%></a>
    <% } %>
        
    <a href="?page=<%=currentPage %>" class="active"><%=currentPage %></a>

    <% if(hasNextPage) { %>
        <a href="?page=<%=nextPage%>"><%=nextPage%></a>
        <a style="border: none;" href="?page=<%=nextPage%>"><i class="fa fa-arrow-right"></i></a>
    <% } %>

    <% if(lastPage !== currentPage && nextPage !== lastPage) { %>
        <a href="?page=<%=lastPage %>"><%=lastPage %></a>
    <% } %>
</section>