<section class="pagination" style="justify-content: center;">
    <% if(hasPrevPage) { %>
        <a style="border: none;" href="?<%=prevPageQuery%>"><i class="fa fa-arrow-left"></i></a>
        <% } %>
            <% if(hasPrevPage) { %>
                <a href="?<%=prevPageQuery%>">
                    <%=prevPage%>
                </a>
                <% } %>
                    <a href="?<%=currentPageQuery %>" class="active">
                        <%=currentPage %>
                    </a>

                    <% if(hasNextPage) { %>
                        <a href="?<%=nextPageQuery%>">
                            <%=nextPage%>
                        </a>
                        <% } %>
                            <% if(hasNextPage) { %>
                                <a style="border: none;" href="?<%=nextPageQuery%>"><i class="fa fa-arrow-right"></i></a>
                                <% } %>
</section>