<%- include('includes/begin.ejs') %>
    </head>

    <body>
        <!-- Header -->
        <header>
            <!-- Header desktop -->
            <div class="container-menu-desktop">
                <%- include('includes/top-bar.ejs',{isAuthenticated:isAuthenticated,user:user}) %>

                    <div class="wrap-menu-desktop">
                        <%- include('/includes/navigation.ejs',{user:user}) %>
                    </div>
            </div>

            <%- include('includes/head-mobile.ejs',{isAuthenticated:isAuthenticated,user:user}) %>

        </header>
        <%- include('includes/cart.ejs') %>
            <div class="container centered">
                <h1>Page Not Found</h1>
                <i class="fa fa-frown-o" style="font-size:48px;"></i>
            </div>
            <%- include('includes/footer.ejs') %>
                <%- include('includes/end.ejs') %>