<%- include('../includes/begin.ejs') %>
    </head>

    <body>
        <!-- Header -->
        <header class="header-v4">
            <!-- Header desktop -->
            <div class="container-menu-desktop">
                <%- include('../includes/top-bar.ejs',{isAuthenticated:isAuthenticated,user:user}) %>
                    <div class="wrap-menu-desktop how-shadow1">
                        <%- include('../includes/navigation.ejs') %>
                    </div>
            </div>

            <%- include('../includes/head-mobile.ejs',{isAuthenticated:isAuthenticated,user:user}) %>
        </header>
        <%- include('../includes/cart.ejs') %>

            <!-- breadcrumb -->
            <div class="container">
                <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                    <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                        Home
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>

                    <span class="stext-109 cl4">
                        <%=pageTitle  %> 
                    </span>
                </div>
            </div>

            <section class="checkout spad">
                <div class="container">
                    <div class="checkout__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h6 class="checkout__title">Billing Details</h6>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="checkout__input">
                                                <p>Full Name<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" placeholder="Street Address" class="checkout__input__add">
                                        <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Town/City<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country/State<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Phone<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Email<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Order notes</p>
                                        <input type="text" placeholder="Notes about your order, e.g. special notes for delivery.">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkout__order">
                                        <h4 class="order__title">Your order</h4>
                                        <div class="checkout__order__products">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <strong>Product</strong>
                                                </div>
                                                <div class="col-lg-2">
                                                    <strong>Size</strong>
                                                </div>
                                                <div class="col-lg-2">
                                                    <strong>Color</strong>
                                                </div>
                                                <div class="col-lg-2">
                                                    <strong>Total</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="checkout__total__products">
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        Vanilla salted caramel
                                                    </div>
                                                    <div class="col-lg-2">
                                                        S
                                                    </div>
                                                    <div class="col-lg-2">
                                                        Red
                                                    </div>
                                                    <div class="col-lg-2">
                                                        $ 110
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="checkout__total__all">
                                            <li>Subtotal <span>$750.99</span></li>
                                            <li>Coupon <span>- $20.99</span></li>
                                            <li>Total <span>$750.99</span></li>
                                        </ul>
                                        <h6 class="checkout__title" style="border: none;padding: 0;margin-bottom: 20px;">Payment methods</h6>
                                        <div class="checkout__input__checkbox">
                                            <label for="payment">   
                                                Receive money on delivery
                                                <input type="checkbox" id="payment">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkout__input__checkbox">
                                            <label for="paypal">
                                                Paypal / Air Pay
                                                <input type="checkbox" id="paypal">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkout__input__checkbox">
                                            <label for="paypal">
                                                Visa / Home Credit / Master Card
                                                <input type="checkbox" id="paypal">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <button style="margin-top: 35px;" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" type="submit">
                                            Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- Checkout Section End -->

            <%- include('../includes/footer.ejs') %>
                <%- include('../includes/back-to-top.ejs') %>
                    <%- include('../includes/preview-modal.ejs') %>
                        <%- include('../includes/script.ejs') %>
                            <script src="/js/cart-function.js"></script>
                            <%- include('../includes/end.ejs') %>