<%- include('../includes/begin.ejs') %>
    </head>

    <body>
        <!-- Header -->
        <header class="header-v4">
            <!-- Header desktop -->
            <div class="container-menu-desktop">
                <%- include('../includes/top-bar.ejs',{isAuthenticated:isAuthenticated,user:user}) %>


                    <div class="wrap-menu-desktop how-shadow1">
                        <%- include('../includes/navigation.ejs',{user:user}) %>
                    </div>
            </div>

            <%- include('../includes/head-mobile.ejs',{isAuthenticated:isAuthenticated,user:user}) %>
        </header>

        <!-- Product -->
        <div class="bg0 m-t-23">
            <div class="container">
                <div class="flex-w flex-sb-m p-b-52">

                    <div class="flex-w flex-c-m m-tb-10">
                        <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i> Filter
                        </div>

                        <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i> Search
                        </div>
                    </div>

                    <!-- Search product -->

                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <form action="/products" method="GET">
                            <div class="bor8 dis-flex p-l-15">
                                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
                            </div>
                        </form>
                    </div>

                    <!-- Filter -->
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">Default</a>
                                    </li>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">Popularity</a>
                                    </li>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">Best Sold</a>
                                    </li>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">Price: Low to High</a>
                                    </li>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">Price: High to Low</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col2 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Price
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">All</a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04"> $0.00 - $50.00</a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">$50.00 - $100.00</a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">$100.00 - $150.00</a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">$150.00 - $200.00</a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">$200.00+ </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col3 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Color
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                    Black
                                </a>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                    Blue
                                </a>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                    Grey
                                </a>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                    Green
                                </a>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                    Red
                                </a>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
                                    <i class="zmdi zmdi-circle-o"></i>
                                </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                    White
                                </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col4 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Tags
                                </div>

                                <div class="flex-w p-t-4 m-r--5">
                                    <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Women
                            </a>

                                    <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Men
                            </a>

                                    <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Jacket
                            </a>

                                    <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Bags
                            </a>

                                    <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Shoes
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (products.length > 0) { %>
                    <div class="row isotope-grid">
                        <% for (let product of products) { %>
                            <div class="product-list col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%=product.filter %> ">
                                <!-- Block2 -->
                                <div class="block2">
                                    <a class="productId hidden">
                                        <%=product._id %>
                                    </a>
                                    <div class="block2-pic hov-img0">
                                        <img style="border: 0.5px solid rgb(216, 216, 216);" src="<%=product.imageUrl.detail_1 %>" alt="IMG-PRODUCT" class="product__img">
                                        <p class="product__img hidden">
                                            <%=product.imageUrl.detail_2 %>
                                        </p>
                                        <p class="product__img hidden">
                                            <%=product.imageUrl.detail_3 %>
                                        </p>
                                        <span class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 
                                            trans-04 js-show-modal1">
                                                Quick View</span>
                                    </div>
                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="/products/<%=product._id %>" class="stext-104 cl4 hov-cl1 
                                                trans-04 js-name-b2 p-b-6 " id="product__name">
                                                <%=product.name  %>
                                            </a>
                                            <span class="stext-105 cl3 product__price">$<%=product.price  %></span>
                                        </div>
                                        <div class="block2-txt-child2 flex-r p-t-3 ">
                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <p><i class="fa fa-eye"></i>&nbsp;<span style="font-size: 13px;"><%=product.viewCount %></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% for(let size of product.size) { %>
                                        <p class="size_arr" hidden>
                                            <%=size %>
                                        </p>
                                        <% } %>
                                            <% for(let color of product.color) { %>
                                                <p class="color_arr" hidden>
                                                    <%=color %>
                                                </p>
                                                <% } %>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs',
                        {currentPage:currentPage,
                        prevPage:prevPage,
                        hasPrevPage:hasPrevPage,
                        hasNextPage:hasNextPage,
                        nextPage:nextPage,
                        currentPageQuery:currentPageQuery,
                        nextPageQuery:nextPageQuery,
                        prevPageQuery:prevPageQuery}) %>
                        <% } else { %>
                            <h1 style="text-align: center; ">No Product Found!</h1>
                            <% } %>
            </div>
        </div>
        <%- include('../includes/footer.ejs') %>
            <%- include('../includes/back-to-top.ejs') %>
                <%- include('../includes/preview-modal.ejs') %>
                    <%- include('../includes/script.ejs') %>
                        <script src="/js/preview-modal.js"></script>
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        <script src="/ajax/cartAjax.js"></script>
                        <%- include('../includes/end.ejs') %>